[Unit]
Description=GPS Serial Interface Check Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=pi
WorkingDirectory=/home/pi/pianywhere/service/
ExecStart=/usr/bin/python3 /home/pi/pianywhere/service/gpscheck.py

[Install]
WantedBy=multi-user.target
