[Unit]
Description=PPP0 Interfae State Check Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=/usr/bin/env pyhton /home/pi/pianywhere/service/checkif.py

[Install]
WantedBy=multi-user.target
