[Unit]
Description=PPP0 Interfae State Check Service
After=gpscheck.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=pi
ExecStart=/usr/bin/env pyhton /home/pi/pianywhere/service/checkif.py

[Install]
WantedBy=multi-user.target
